.header {
    display:flex;
    justify-content: space-between;
    font-size: 20px;
}

#header-title {
    font-size: 30px;
    font-weight: bold;
}

#main-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.about {
    background-color: antiquewhite;
}

.section-2-about {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.section-2-main-p {
    width: 75%;
    border: 5px solid black;
    text-align: center;
}

.section-2-h1 {
    text-align: center;
}