.header {
    display:flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: wheat;
    align-items: center;
}

#header-title {
    font-size: 30px;
    font-weight: bold;
}

.header-t:hover {
    border-bottom: 5px solid black;
    transition: 0.2s;
}

#main-pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.about {
    background-color: antiquewhite;
    padding-top: 10px;
    padding-bottom: 10px;
}

.section-2-about {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
}

.section-2-main-p {
    width: 75%;
    border: 5px solid black;
    text-align: center;
    margin-left: auto; /* This is what centered the DIV in the middle of the page */
    margin-right: auto;
}

.section-2-h1 {
    text-align: center;
}

.menu {
    text-align: center;
    background-color:wheat;
}

#lunch-special-table {
    margin-left: auto;
    margin-right: auto;
}

.menu-description {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
}

.lunch-special-item {
    text-align: left;
}

.lunch-menu-columns{
    display: flex;
    justify-content: center;
}

.single-column {
    width: 30%;
    text-align: left;
}

.lite-lunch {
    margin-left: auto;
    margin-right: auto;
}

#red-fire {
    color: red;
}

ul {
    list-style-type:none;
}

ul:before {
    content:attr(aria-label);
    font-size: 200%;
    font-weight: bold;
    border-bottom: 2px solid black;
}

.menu-notes {
    border-top: 2px solid black;
    margin-top: 50px;
    padding-top: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

#menu-button {
    margin-top: 50px;
    width: 250px;
    height: 100px;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    margin-bottom: 50px;
}

#menu-button:hover {
    cursor: pointer;
    color: white;
    background-color: black;
    transition: 0.5s;
}

.gallery {
    text-align: center;
    background-color: antiquewhite;
}

.gallery-pics-div {
    float: left;
    width: 40%;
    margin-right: 50px;
    background-color: antiquewhite;
}

.gallery-pics {
    width: 100%;
    height: 400px;
    border: 10px solid black;
    margin-bottom: 50px;
}  

.gallery-description {
    font-size: 20px;
    margin-bottom: 30px;
}

.test {
    width: 800px;
    height: 800px;
    margin: 0 auto;
}

.test-img {
    float: left;
    width: 45%;
    height: 300px;
    margin: 20px;
    transition: 0.5s;
}

.test-img:hover {
    transform: scale(1.2);
}

.reviews {
    background-color:cornsilk;
    padding-bottom: 50px;
}

.section-5-h1 {
    text-align: center;
}

.customer-review {
    width: 50%;
    border: 5px double aqua;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.customer-review-2 {
    width: 50%;
    border: 5px double aqua;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-top: 50px;
}

#gold-star {
    color:gold;
}

.sign-up {
    text-align: center;
    background-color: antiquewhite;
    padding-top: 100px;
    padding-bottom: 100px;
}

#sign-up-text {
    font-size: 30px;
    margin-bottom: 20px;
}

.sign-up-submit {
    border: 2px solid black;
    border-radius: 10px;
    font-weight: bold;
}

.sign-up-submit:hover {
    cursor: pointer;
    background-color: black;
    color: white;
}

.sign-up-email, .sign-up-submit {
    width: 15%;
}

.location {
    text-align: center;
    background-color:wheat;
}

.google-maps {
    margin-top: 50px;
    padding-bottom: 50%;
    position: relative;
}

.google-maps iframe {
    height: 80%;
    width: 80%;
    left: 10%;
    top: 0;
    position: absolute;
}

.section-7-div {
   font-size: 20px;
   width: 70%;
   margin-left: auto;
   margin-right: auto;
}

.footer {
    text-align: center;
    background-color: blanchedalmond;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

html { 
    scroll-behavior: smooth;   /* Makes redirecting when clicking on the header links smooth rather than instant */
}


h1 {
    margin: 0px; /* This eliminated the whitespace between section divs */
    padding-top: 10px;
}

#fullmenu-body {
    font-family: "Lora", serif;
}

.fm-odd {
    background-color: #dcc1e6;
    border: 1px solid #dcc1e6;
}

.fm-even {
    background-color: #cdc1e6;
    border: 1px solid #cdc1e6;
}

.fm-chefs-special {
    background-color: #e0b8ef;
    border: 1px solid #e0b8ef;
}

.fm-h2 {
    font-family: "Ubuntu", sans-serif;
    font-variant: small-caps;
}